<html>
  <head>
    <title>Vue Stuff To Do!</title>
    <!-- reference link: redirects to latest version of vue: https://unpkg.com/vue -->
    <style>
      .test1 { background-color: green; color: orange; }
      .test2 { background-color: blue; color: yellow; }
      [v-cloak] { display: none; }
    </style>
  </head>
  <body>
    <h2>Vue To Do</h2>

    <!--
    <div id="the-list">
        <label v-for="task in taskList" style="display:block">{{ task }}</label>
    </div>
    -->

    <div id="add-task" style="margin-bottom: 2em; margin-top: 1em;">
        <input id="input-add-task" v-model.lazy.trim="model1" placeholder="Add New Task" v-on:keyup.enter="handleEnter" v-on:keyup.ctrl.enter="handleControlAndEnter" />
        <button id="btn-add-task" onclick="addTask();">Add</button>
        <label>{{ model1 }}</label>
    </div>

    <div id="the-list2">
        <h6>Search google: <span v-html="myLink"></span></h6>
        <h5 v-cloak v-bind:class="[styleTest1, styleTest2]" v-bind:style="{ color:isStyleOverride ? 'magenta' : '#777'}">{{ instructions }}</h5>
        <!-- <h5 v-text="msg"></h5> -->
        <h5 v-once="msg"></h5>
        <!-- <h5 v-html="msg"></h5> -->
        <single-task v-for="currentTask in allTasks" v-bind:mytask="currentTask"></single-task>
    </div>

    <br /><br /><br /><br /> <br /><br /><br /><br /> <br /><br /><br /><br /> <br /><br /><br /><br /> <br /><br /><br /><br />

    <a v-on:click.prevent.stop="testClickEvent" href="#">Test for Prevent</a>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="./vue_code.js"></script>
  </body>
</html>

